@use 'mixins';

.containerFluid {
  width: 1280px;
  margin: 0 auto;

  @media (max-width: 1440px) {
    width: 1200px;
  }

  @media (max-width: 1300px) {
    width: 1100px;
  }

  @include mixins.for-phone-only {
    width: 100%;
  }
}

.containerPadded {
  width: 1280px;
  padding: 0 3rem;
  margin: 0 auto;

  @include mixins.for-phone-only {
    width: 100%;
    padding: 0 1rem;
  }
}
