@use 'colors';

.button {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  cursor: pointer;
  left: 0px;
  top: 200px;

  /* Primary/1 */
  background: colors.$pink;
  border-radius: 90px;
  color: colors.$white;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

.downloadApps {
  width: 170px;
  height: 48px;
}

.count {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;

  /* identical to box height, or 32px */
  text-align: center;
  text-transform: uppercase;
}

.areaBadge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-block;
  padding: 8px 12px 6px;
  font-weight: bold;
  color: colors.$white;
  border-radius: 32px;
  text-transform: uppercase;

  &Dark {
    background: colors.$black;
  }

  &Green {
    background: colors.$green;
  }
}

.buttonCircle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: colors.$pink;
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.smallTxt {
  font-size: 12px;
  font-weight: bold;
}

.sectionSubTitle {
  font-size: 24px;
  line-height: 32px;
  margin: 12px 0 80px 0;
}

.roundedImage {
  border-radius: 12.59px;
}