@use "partials/colors";
@use "partials/mixins";

.availableSection {
  margin: 112px 0;
  position: relative;

  @include mixins.for-phone-only {
    padding: 0 2rem;
  
    .sliderArrowButtons {
      position: absolute;
      bottom: -4rem;
      left: 1.5rem;
    }
  }

  .heading {
    display: flex;
    justify-content: space-between;

    .arrowBtn {
      width: 40px;
      height: 40px;
      left: 48px;
      top: 0px;
      box-sizing: border-box;
      border-radius: 40px;
      outline: 0;
      border: 0;
      background: transparent;

      &Active {
        border: 2px solid #e6e8ec;
      }
    }
  }

  .areaCardsContainer {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // gap: 2rem;
    width: 100%;
    .areaCard {
      .cardTopContent {
        position: relative;
        img {
          width: 100%;
          border-radius: 24px;
        }
      }

      .cardBottomContent {
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
