@use 'partials/colors';
@use 'partials/mixins' as mixins;
@import "partials/containers";
@import "partials/utils";

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;

  @include mixins.for-phone-only {
    padding: 42px 0 0px;
  }

  .leftPart {
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;

    .mobileRightOptions {
      @include mixins.for-phone-only {
        img {
          cursor: pointer;
          &:first-child {
            margin-right: 1rem;
          }
        }
      }

      @include mixins.for-tablet-portrait-up {
        display: none;
      }
    }

    .logo {
      padding-right: 2rem;
      border-right: 1px solid #e6e8ec;

      @include mixins.for-phone-only {
        flex-grow: 1;
        border: 0;
      }
    }

    .menuLinks {
      display: flex;

      @include mixins.for-tablet-portrait-up {
        .mobileOnly {
          display: none;
        }
      }

      @include mixins.for-phone-only {
        &.menuLinksHidden {
          display: none !important;
        }

        position: absolute;
        width: 100%;
        background: colors.$white;
        z-index: 1;
        left: 0;
        top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem 1rem 1rem;
        box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        .menuLink {
          height: 48px;
          border-radius: 24px;
          padding: 0 12px;

          .mobileOnly {
            margin-right: 13px;
          }
        }
      }

      @include mixins.for-tablet-portrait-up {
        // enable hover only for tab/desktops
        .menuLink {
          margin: 0 1.2rem;

          &:first-child {
            padding-left: 2rem;
          }

          &:hover .dropDownCard {
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }

  .rightPart {
    @include mixins.for-phone-only {
      display: none;
    }
  }

  .dropDown {
    cursor: pointer;
    position: relative;
    &::after {
      margin-left: 1rem;
      content: url("menu-arrow-down.svg");
    }

    .dropDownCard {
      position: absolute;
      width: 736px;
      background: colors.$white;
      padding: 2rem;
      z-index: 10;
      box-shadow: 0px -2px 24px rgba(15, 15, 15, 0.06),
        0px 31px 62px rgba(38, 15, 25, 0.08);
      border-radius: 20px;
      top: 40px;

      // hidden
      opacity: 0;
      display: none;

      &::before {
        content: "";
        width: 100%;
        height: 300px;
        position: absolute;
        top: -31px;
        right: 0;
        z-index: -26;
      }

      .dropDownLinksContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .dropDownLink {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 12px 12px 12px 20px;
          border-radius: 8px;

          div {
            margin-left: 1rem;

            p {
              font-size: 12px;
              line-height: 20px;
              margin-top: 0.3rem;
              font-weight: 400;
            }
          }

          &:hover {
            background-color: colors.$darkWhite;
          }
        }
      }

      .dropDownFooter {
        margin-top: 1rem;
        border-top: 1px solid #e6e8ec;

        h3 {
          margin-top: 1rem;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
        }

        .downloadButtons {
          display: flex;
          gap: 1rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

.mobileMenuCardBottomWrapper {
  @include mixins.for-phone-only {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;

    overflow-y: scroll;

    .mobileMenuCardBottom {
      box-shadow: 0px -2px 24px rgba(15, 15, 15, 0.06),
        0px 31px 62px rgba(38, 15, 25, 0.08);
      background: colors.$white;
      padding: 1rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .dropDownLink {
      display: flex;
      align-items: center;
      padding: 1rem;
      cursor: pointer;

      div {
        margin-left: 0.5rem;

        h3 {
          color: #777e90;
        }

        p {
          font-size: 12px;
          line-height: 20px;
        }
      }

      &:hover {
        background-color: colors.$darkWhite;
      }
      &:hover h3 {
        color: colors.$black;
      }
    }

    .menuLinksContainer {
      margin-bottom: 1rem;
    }

    .dropDownFooter {
      border-top: 2px solid #e6e8ec;

      h3 {
        margin: 1rem 0;
      }

      .downloadButtons {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @include mixins.for-tablet-portrait-up {
    display: none;
  }
}

@include mixins.for-phone-only {
  .drawerOverlay {
    z-index: 90;
    background: rgba(0, 0, 0, 0.37);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
