@use 'partials/colors';
@use 'partials/mixins';

.downloadSection {
  background-color: colors.$darkWhite;

  .downloadWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.fullVh {height: 90vh;}
  
    .mobileMockup {
      align-self: end;
      width: 50%;
    }

    @include mixins.for-phone-only {
      padding: 3rem 2rem 0 2rem;
      flex-direction: column;

      .mobileMockup {
        width: 100%;
      }
    }
  }
}
