@import "partials/containers";
@import "partials/utils";
@import "./AvailableSection.module";
@import "./MakeMoneySection.module";
@import "./DownloadSection.module";
@import "./AboutSection.module";

.heroSection {
  padding-top: 2rem;
  min-height: 968px;

  .banner {
    height: 776px;
    border-radius: 24px;
    position: relative;
    background-image: linear-gradient(
        112.61deg,
        rgb(221, 247, 255, 0.89) 4.38%,
        rgb(255, 255, 255, 0) 81.77%
      ),
      url("../public/images/hero-banner.png");

    .textContent {
      position: absolute;
      width: 530px;
      height: 128px;
      left: 0px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      flex-grow: 0;
      // margin: 16px 0px;
      margin-left: 80px;
      margin-top: 177px;
    }

    .megaSearchBox {
      position: absolute;
      bottom: -104px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px;
      height: 208px;
      left: 386px;
      right: 386px;

      /* effect/neutral 8 (glass) */
      background: linear-gradient(83.59deg, #fcfcfd, rgb(252, 252, 253));

      /* Neutrals/8 */
      border: 1px solid #fcfcfd;
      box-sizing: border-box;

      /* glass/01 */
      box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 0.1);
      backdrop-filter: blur(32px);

      /* Note: backdrop-filter has minimal browser support */
      border-radius: 24px;
      text-align: center;
    }
  }
}
